# macOS
.DS_Store

# Android
.gradle/
.idea/
.kotlin/
**/build/
local.properties

# iOS
DerivedData/
.build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.swiftpm/

# Optional dependency directories
Pods/