# macOS
.DS_Store

# Android
.gradle/
.idea/
.kotlin/
**/build/
local.properties

# iOS
DerivedData/
.build/
*.swiftpm/
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/
*.xcuserstate

# Optional dependency directories
Pods/

